<app-navbar></app-navbar>
<div class="wrapper">
  <h2 class="welcome-message">Aquí vas a poder encontrar todos tus turnos</h2>
  <figure class="text-center">
  <p class="lead">Aquí podes ver todos tus turnos programados en nuestro hospital. <br>
  Si aún no tenes ninguno, no te preocupes, podes programar uno fácilmente desde la sección Nuevo Turno</p>
  </figure>
  <div *ngIf="nextShifts.length > 0; else noTurnos" class="list-group">
    <h4>Tus turnos son los siguientes:</h4>
    <div *ngFor="let turno of nextShifts" class="list-group">
      <div class="list-group-item mb-3">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <strong>
              Fecha: {{ turno.dateShift }} <br>
              Hora: {{ turno.hourShift }}hs. <br>
              Dr/Dra: {{ turno.doctorSurname }}, {{ turno.doctorName }} <br>
              Especialidad: {{ turno.speciality }} <br>
              <span *ngIf="turno.price > 0">Precio: ${{ turno.price }}</span>
            </strong>
          </div>
          <div>
            <button class="btn btn-danger" (click)="cancelShift(turno.id)">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <ng-template #noTurnos>
    <div class="alert alert-info">
      <strong>No tienes ninguna consulta agendada.</strong>
    </div>
  </ng-template>
  <div class="mt-2">
    <p class="lead">Sugerencias útiles:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Llega al hospital con 15 minutos de anticipación para registrarte.</li>
      <li class="list-group-item">No olvides llevar contigo tu documento de identidad y tu obra social.</li>
    </ul>
  </div>
</div>
<app-footer></app-footer>