<footer class="footer py-1 colorFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center mb-2 mb-md-0">
        <h5>Dirección del hospital</h5>
        <p>Salta 1542</p>
      </div>
      <div class="col-md-4 text-center mb-2 mb-md-0">
        <h5>Número de teléfono</h5>
        <p>419452</p>
      </div>
      <div class="col-md-4 text-center">
        <h5>Nuestras redes</h5>
        <a href="https://github.com/FranGenoud01" target="_blank">
          <img src="https://pngimg.com/d/github_PNG80.png" alt="GitHub Logo" width="30" height="30">
        </a>
      </div>
    </div>
  </div>
</footer>