<app-navbar></app-navbar>
<div class="wrapper">
  <h2 class="welcome-message">Editar Profesional</h2>
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <form (ngSubmit)="updateProfessional()">
          <div class="row g-3">
            <div class="col">
              <div class="form-floating">
                <input type="text" id="editLicenseNumber" class="form-control" [(ngModel)]="professional.licenseNumber"
                  name="editLicenseNumber" required placeholder="Ingrese la Matrícula" disabled
                  [ngClass]="{ 'is-invalid': professional.licenseNumber && (!isNumeric(professional.licenseNumber) || !validateField(professional.licenseNumber, 1, 15)) }">
                <label for="editLicenseNumber">Matrícula</label>
                <div class="invalid-feedback">
                  <span *ngIf="!isNumeric(professional.licenseNumber)">La matrícula debe ser numérica.</span>
                  <span *ngIf="professional.licenseNumber && (professional.licenseNumber.length > 15)">La matrícula debe
                    tener entre 1 y 15 dígitos.</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="text" id="editSurname" class="form-control" [(ngModel)]="professional.surname"
                  name="editSurname" required placeholder="Ingrese el apellido"
                  [ngClass]="{ 'is-invalid': professional.surname && !validateField(professional.surname, 1, 20) }">
                <label for="editSurname">Apellido</label>
                <div class="invalid-feedback">El apellido no puede exceder los 20 caracteres.</div>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="text" id="editName" class="form-control" [(ngModel)]="professional.name" name="editName"
                  required placeholder="Ingrese el nombre"
                  [ngClass]="{ 'is-invalid': professional.name && !validateField(professional.name, 1, 20) }">
                <label for="editName">Nombre</label>
                <div class="invalid-feedback">El nombre no puede exceder los 20 caracteres.</div>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <select id="editSpeciality" class="form-select" [(ngModel)]="professional.speciality.id"
                  name="editSpeciality" required placeholder="Ingrese la especialidad">
                  <option *ngFor="let speciality of specialities" [ngValue]="speciality.id">{{ speciality.description }}
                  </option>
                </select>
                <label for="editSpeciality">Especialidad</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="number" id="editPrice" class="form-control" [(ngModel)]="professional.price" name="editPrice" required
                  placeholder="Ingrese el precio"
                  [ngClass]="{ 'is-invalid': !isNumeric(professional.price) || professional.price <= 0 }">
                <label for="editPrice">Precio Consulta</label>
                <div class="invalid-feedback">
                  <span *ngIf="!isNumeric(professional.price)">El precio debe ser numérico.</span>
                  <span *ngIf="professional.price <= 0">El precio debe ser mayor a 0.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3 mt-3">
            <div class="col-12">
              <strong>Obras Sociales</strong>
              <div class="form-floating mb-3 horizontal-checkboxes">
                <div *ngFor="let healthInsurance of healthInsurances" class="form-check">
                  <input class="form-check-input" type="checkbox" [id]="'healthInsurance' + healthInsurance.id"
                    [value]="healthInsurance.id" (change)="onInsuranceChange($event)"
                    [checked]="selectedHealthInsuranceIds.includes(healthInsurance.id)">
                  <label class="form-check-label" [for]="'healthInsurance' + healthInsurance.id">
                    {{ healthInsurance.description }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-success">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>