.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item .col {
  flex: 1 auto;
  min-width: 2;
}

.wrapper {
  height: 100vh;
}

.container {
  max-width: auto;
}