.wrapper{
  height: 100%;
}

.form-floating,
.form-select {
  width: max-content;
}

.col{
  padding: 1rem;
}

.form-select {
  width: 150px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

