.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item .col {
  flex: 1 auto;
  min-width: 2;
}

.wrapper {
  height: 100vh;
}

.container {
  max-width: fit-content;
}

.horizontal-checkboxes {
  display: flex;
  flex-wrap: wrap;
}
  
.horizontal-checkboxes .form-check {
  margin-right: 15px;
}

